# Node modules directory
node_modules/

# Environment variables
.env

# Log files
*.log

# Build output
dist/
build/

# IDE specific files
.idea/
.vscode/

# Operating System files
.DS_Store
Thumbs.db